<html>
    <head>

    </head>
    <body>
        <form action="/post" method="post">
            <label>Message</label>
            <input type="text" name="message"/>
            <input type="submit" name="POST"/>
        </form>
    </body>
</html>