<html>
    <head></head>
    <body>
        <form action="/register" method="post">
            <label>Email</label>
            <input type="text" name="email"/>
            <label>Name</label>
            <input type="text" name="name"/>
            <label>Nickname</label>
            <input type="text" name="forname"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <input type="submit" value="REGISTER"/>
        </form>
    </body>
</html>